<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/categories">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/products">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/orders">Orders</a>
  </li>
  <li class="nav-item">
    <a style="cursor:pointer;" class="nav-link" (click)="logout()">Logout</a>
  </li>
</ul>
